@media only screen and (max-width: 1300px) {
    .container_header {
        width: 100%;
        justify-content: space-between;
        height: 54px;
        padding: 0 18px;
    }

    .container {
        width: 100%;
        padding: 0 18px;
    }

    .title {
        font-size: 23px;
    }

    .subtitle_big {
        font-size: 22px;
        text-align: center;
    }

    .subtitle {
        font-size: 22px;
    }

    .header_nav,
    .button_header {
        display: none;
    }

    .header_logo {
        margin: 0;
    }

    .header_phone {
        margin: 0;
    }

    .promo {
        min-height: 478px;
        background: url(../img/promo/bg_mobile.png) center center/cover
            no-repeat;
    }

    .promo_text {
        padding: 85px 0 0 0;
        text-align: center;
    }

    .promo_title {
        text-align: left;
        width: 339px;
    }

    .promo_text_descr {
        text-align: left;
        width: 339px;
        font-size: 14px;
        padding: 16px 0 47px 0;
    }

    .button_promo_calc,
    .button_promo_submit {
        width: 338px;
        height: 51px;
        margin-bottom: 26px;
        margin-right: 0;
    }
    .completed {
        min-height: 664px;
        padding-top: 36px;
    }

    .completed_project {
        display: block;
        padding: 0;
        margin: 0;
    }

    .completed_project_text_descr {
        width: 311px;
        font-size: 11px;
        line-height: 1.5;
        margin-top: 27px;
        margin-bottom: 71px;
        text-align: center;
    }

    .completed_project_photo_desktop {
        display: none;
    }

    .completed_project_photo_mobile {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .completed_project_photo_mobile_round {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 313px;
        height: 36px;
    }

    .completed_project_photo_mobile_round a {
        height: 18px;
    }

    .completed_project_photo_mobile_round_left {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 36px;
        height: 36px;
        background: #e3b873;
        box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
        border-radius: 100%;
    }

    .completed_project_photo_mobile_round_right {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 36px;
        height: 36px;
        background: #e3b873;
        box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
        border-radius: 100%;
    }

    .completed_project_menu,
    .arrow {
        display: none;
    }

    .completed_project_text {
        margin-top: 0;
    }

    .completed_wrapper {
        width: 340px;
        margin-top: 36px;
    }
    .completed_wrapper_item {
        margin-left: 0;
        width: 140px;
    }

    .completed_wrapper_title {
        font-size: 14px;
        margin: 36px 0 15px;
    }

    .completed_wrapper_descr {
        font-size: 11px;
        line-height: 1.3;
    }

    .video {
        margin-top: 0;
        padding-top: 58px;
        min-height: 899px;
        background-color: #131313;
    }

    .video_header {
        padding: 0;
    }

    .video_content_desktop {
        display: none;
    }

    .video_content_mobile {
        display: block;
        position: relative;
    }

    .subtitle_img {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .video_content {
        padding-bottom: 28px;
    }

    .video_content_round {
        width: 37px;
        height: 37px;
    }

    .video_content_round a {
        height: 20px;
    }

    .video_content_round img {
        width: 0.6em;
    }

    hr {
        margin-bottom: 21px;
    }

    .video_content_descr {
        width: 340px;
        font-size: 11px;
        line-height: 1.8;
        color: #ffffff;
        margin-bottom: 0;
        padding-bottom: 13px;
    }

    .video_content_form {
        width: 340px;
        height: 311px;
        display: block;
        margin-bottom: 27px;
    }

    .video_content_form p {
        margin-top: 63px;
        color: rgba(255, 255, 255, 0.5);
    }

    .input_video_1,
    .input_video_2 {
        width: 340px;
        color: #ffffff;
        background: #131313;
        border-bottom: 1px solid #ffffff;
    }

    .video_checkbox {
        margin-top: -155px;
        width: 335px;
    }

    .video_checkbox_label {
        color: #ffffff;
    }
    .button_video {
        width: 340px;
        margin-top: 107px;
    }

    .button_video:hover {
        box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
    }

    .types {
        min-height: 2030px;
    }

    .types_header {
        padding: 83px 0 0;
    }

    .types_wrapper {
        flex-direction: column;
        width: 340px;
        min-height: 484px;
    }

    .types_wrapper_item {
        width: 340px;
        margin-bottom: 55px;
    }
    .types_wrapper_item img {
        width: 340px;
        height: 365px;
    }

    .types_wrapper_item_descr {
        width: 270px;
        height: 241px;
        padding: 21px 41px 37px 28px;
        margin-top: -141px;
        margin-left: 0;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.05);
    }

    .subtitle_descr {
        font-size: 15px;
        margin-bottom: 13px;
    }

    .types_wrapper_item_descr li {
        line-height: 24px;
    }

    .types_wrapper_item_price {
        position: relative;
        width: 190px;
        height: 40px;
        margin-left: 0;
        padding-top: 10px;
        margin-top: -20px;
        font-size: 15px;
    }

    .request,
    .save,
    .realize,
    .clients {
        display: none;
    }

    .subtitle_big_mobile {
        display: block;
        margin-top: 0;
        margin-bottom: 27px;
        letter-spacing: 0;
    }
    .request_img_mobile {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .questions {
        width: 100%;
        min-height: 445px;
        margin-top: -123px;
        padding: 173px 17px 0;
    }

    .subtitle_questions {
        font-size: 20px;
    }

    .questions_form {
        width: 340px;
        margin-top: 52px;
    }

    .questions_form_wrapper {
        display: block;
        margin-bottom: 0;
    }

    .questions_form_wrapper > div {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 63px;
    }

    .questions_checkbox {
        margin-bottom: 67px;
        text-align: start;
    }

    .input_questions {
        width: 340px;
        border-bottom: 1px solid #ffffff;
    }

    .input_questions_3 {
        width: 340px;
        margin-bottom: 22px;
    }

    .button_questions {
        width: 340px;
        margin: 0;
    }

    .button_request:hover {
        box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
    }

    .map {
        width: 100%;
        min-height: 524px;
        margin-top: 0;
        background: #181818;
        padding-top: 46px;
    }

    .map_img_big {
        display: none;
    }

    .map_img_small {
        display: block;
    }

    .subtitle_map {
        width: 340px;
        padding-top: 42px;
        padding-bottom: 24px;
        font-size: 18px;
    }

    .footer {
        display: none;
    }
}
