* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: "Nunito Sans", sans-serif;
    color: #ffffff;
}

.container {
    width: 1256px;
}

.title {
    font-family: "Yeseva One", cursive;
    font-weight: normal;
    font-size: 40px;
    line-height: 1.3;
    text-transform: uppercase;
}

.subtitle_big {
    font-family: "Yeseva One", cursive;
    font-weight: normal;
    font-size: 27px;
    line-height: 1.4;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #e3b873;
}

.subtitle {
    font-family: "Yeseva One", cursive;
    font-weight: normal;
    font-size: 20px;
    text-transform: uppercase;
    color: #ffffff;
}

.container_header {
    width: 1256px;
    display: flex;
    align-items: center;
    height: 83px;
    font-size: 11px;
}

.header {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: black;
}

.header > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #e3b873;
}

.header_logo {
    color: #e3b873;
    margin: 0 120px 0 0;
}

.header_phone {
    color: #ffffff;
}

.header_phone:hover {
    color: #e3b873;
}

.header_phone > a {
    margin-left: 53px;
    margin-right: 45px;
}

nav {
    margin: 0;
}

.header_nav {
    display: flex;
    padding-left: 0;
    list-style-type: none;
}

.header_nav_item {
    margin-right: 47px;
}

.header_nav_item a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.header_nav_item > a:hover {
    color: #e3b873;
}

.button {
    width: 161px;
    height: 37px;
    border: 1px solid #ffffff;
    background: none;
    border-radius: 2px;
    color: white;
    font-family: "Nunito Sans", sans-serif;
    font-style: italic;
    font-size: 11px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.button:hover {
    background: #e3b873;
    border-color: transparent;
    transition: 0.2s all;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
}

.promo {
    min-height: 707px;
    background: url(../img/promo/bg_desktop.png) center center/cover no-repeat;
}

.promo_text {
    padding: 194px 690px 208px 42px;
}

.promo_title > span {
    color: #e3b873;
}

.promo_descr {
    font-size: 22px;
    line-height: 1.6;
    color: #ffffff;
    padding: 19px 0 41px 0;
}

.promo_button_calc,
.promo_button_submit {
    width: 207px;
    height: 51px;
    margin-right: 20px;
}

.promo_button_calc:hover,
.promo_button_submit:hover {
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
}

.completed {
    min-height: 1074px;
    background: url(../img/completed/bg_completed.png) center center/cover
        no-repeat;
}

.completed_project {
    margin: 0 42px 91px;
    display: flex;
    justify-content: space-between;
    padding-top: 107px;
}

.completed_project_menu {
    margin-left: 0;
    margin-bottom: 45px;
}

.completed_nav {
    display: flex;
    justify-content: start;
    list-style-type: none;
    padding-left: 0;
}

.completed_nav > li {
    margin-left: 0;
}

.completed_nav_item a {
    font-family: "Yeseva One", cursive;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.3);
}

.completed_nav_item > a:hover {
    color: #e3b873;
    text-decoration: underline;
}

.completed_project_text {
    margin-top: 67px;
}

.completed_project_descr {
    font-size: 14px;
    line-height: 2;
    margin-top: 34px;
    margin-bottom: 42px;
}

.completed_project_photo {
    margin-left: 50px;
}

.project_photo_mobile {
    display: none;
}

.project_photo_mobile img {
    display: block;
}

.project_photo_mobile_round {
    display: none;
}

.project_photo_mobile_round > a {
    height: 17px;
}

.completed_wrapper {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.completed_wrapper_item {
    margin-left: 0;
    width: 172px;
}

.completed_wrapper_title {
    font-size: 18px;
    margin: 16px 0;
    color: #e3b873;
}

.completed_wrapper_descr {
    font-size: 13px;
    line-height: 1.6;
}

.arrow {
    display: flex;
    margin-top: 80px;
    width: 205px;
    height: 13.5px;
    margin-left: 0;
}

.arrow-1 {
    cursor: pointer;
    width: 41px;
    height: 1.3px;
    position: relative;
    top: 6px;
    background-color: #ffffff;
    left: 0;
}
.arrow-1::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 1.3px;
    top: 4px;
    right: 31px;
    background-color: #ffffff;
    transform: rotate(45deg);
}
.arrow-1::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 1.3px;
    top: -4px;
    right: 31px;
    background-color: #ffffff;
    transform: rotate(-45deg);
}

.arrow-2 {
    position: relative;
    cursor: pointer;
    width: 41px;
    height: 1.3px;
    top: 6px;
    background-color: #ffffff;
    left: 0;
}

.arrow-2::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 1.3px;
    top: -4px;
    right: 0;
    background-color: #ffffff;
    transform: rotate(45deg);
}

.arrow-2::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 1.3px;
    top: 4px;
    right: 0;
    background-color: #ffffff;
    transform: rotate(-45deg);
}

.circle {
    width: 10px;
    height: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
}

.video {
    margin-top: -418px;
}

.video_header {
    padding: 90px 0 0;
    text-align: center;
}

.subtitle_img {
    width: 180px;
    display: flex;
    position: relative;
    margin-top: 13px;
    margin-bottom: 31px;
}

.subtitle_img > img {
    display: block;
}

.subtitle_img::before {
    content: "";
    position: absolute;
    bottom: 13px;
    left: 33px;
    width: 32px;
    height: 1.5px;
    background-color: #e3b873;
}

.subtitle_img::after {
    content: "";
    position: absolute;
    bottom: 13px;
    right: 33px;
    width: 32px;
    height: 1.5px;
    background-color: #e3b873;
}

.video_content {
    padding-bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video_mobile {
    display: none;
}

.video_content_round {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 85px;
    background: #e3b873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border-radius: 100%;
}

hr {
    width: 55px;
    height: 1.5px;
    background: #e3b873;
    margin-bottom: 34px;
    border: 0;
}

.video_descr {
    width: 649px;
    font-size: 18px;
    line-height: 2;
    text-align: center;
    color: #363636;
    margin-bottom: 93px;
}

.video_form {
    width: 769px;
    height: 51px;
    display: flex;
    margin-bottom: 35px;
}

.video_form p {
    font-size: 13px;
    color: rgba(54, 54, 54, 0.5);
}

input[type="text"] {
    display: block;
    width: 209px;
    margin-right: 80px;
    padding-bottom: 6px;
    margin-top: 3px;
    color: #363636;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
}

.video_button {
    width: 200px;
    height: 51px;
    background: #e3b873;
    border: none;
    font-size: 13px;
}

.button_video:hover {
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.video_application_2 {
    width: 231px;
}

.video_checkbox {
    width: 300px;
}
.video_checkbox_label {
    cursor: pointer;
    font-size: 14px;
    color: #181818;
}

.checkbox {
    display: none;
}

.video_checkbox_fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #e3b873;
    color: #fff;
    justify-content: center;
    margin-right: 6px;
}

.video_checkbox_fake::before {
    content: "\2714";
    opacity: 0;
    transition: 0.2s;
}

.checkbox:checked + .video_checkbox_fake::before {
    opacity: 1;
}

.types {
    min-height: 1630px;
}

.types_header {
    padding: 75px 0 0;
    text-align: center;
}

.subtitle_types {
    color: #181818;
}

.types_wrapper {
    width: 1236px;
    min-height: 608px;
    display: flex;
    justify-content: space-between;
}

.types_wrapper_item {
    width: 392px;
    margin: 0;
}

.types_wrapper_item > img {
    display: block;
}

.types_wrapper_item_descr {
    position: relative;
    width: 330px;
    min-height: 260px;
    padding: 25px 34px;
    margin-top: -127px;
    background-color: #fff;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}

.subtitle_descr {
    font-size: 18px;
    color: #363636;
    text-transform: none;
    margin-bottom: 16px;
}

.types_wrapper_item_descr ul {
    padding-left: 16px;
}

.types_wrapper_item_descr li {
    font-size: 13px;
    line-height: 27px;
    color: #959595;
}

.types_wrapper_item_price {
    width: 228px;
    height: 54px;
    margin-left: 31px;
    padding-top: 16px;
    background: #e3b873;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
    text-transform: uppercase;
    font-family: Yeseva One;
    font-size: 18px;
    text-align: center;
}

.request {
    min-height: 638px;
    margin-top: 124px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.request_measurer {
    margin-left: -57px;
    margin-top: -37px;
    background: url(../img/request/image\ 6.1.png) center center/cover no-repeat;
}

.request_list {
    width: 390px;
    height: 470px;
    margin: 0 0 116px 270px;
    padding-top: 65px;
}

.request_list_item {
    display: flex;
    align-items: center;
    min-height: 45px;
    margin: 0 0 83px 0;
}

.request_list_item_round {
    display: flex;
    width: 58px;
    height: 58px;
    background: #e3b873;
    border: 8px solid #ffffff;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 30px;
    margin-right: 16px;
    padding: 10px;
    font-family: Yeseva One;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}

.request_list_item_text {
    margin: 0;
    width: 316px;
    font-size: 14px;
    color: #363636;
}

.request_form {
    width: 506px;
    height: 509px;
    margin-right: 10px;
    background: #131313;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
}

.request_form_title {
    margin: 28px 0 39px 0;
    font-size: 18px;
    line-height: 1.4;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
}

.request_form_block {
    margin: 0 49px 48px;
}

.request_form_block_3 {
    margin: 0 49px 16px;
}

.request_form_block p {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.request_application {
    display: block;
    width: 408px;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 6px;
    margin-top: 3px;
    color: #ffffff;
    border: none;
    background: #131313;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    font-family: "Nunito Sans", sans-serif;
    cursor: pointer;
}

.request_checkbox_label {
    cursor: pointer;
    font-size: 14px;
    color: #ffffff;
    margin-left: 51px;
}

.request_checkbox_fake {
    display: inline-flex;
    width: 18px;
    height: 18px;
    background: #e3b873;
    color: #fff;
    justify-content: center;
    margin-right: 6px;
}

.request_checkbox_fake::before {
    content: "\2714";
    opacity: 0;
    transition: 0.2s;
}

.checkbox:checked + .request_checkbox_fake::before {
    opacity: 1;
}

.button_request {
    width: 213px;
    height: 51px;
    background: #e3b873;
    border: none;
    font-size: 13px;
    margin-top: 37px;
    margin-left: 244px;
}

.button_request:hover {
    box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);
}

.save {
    width: 300px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 176px;
    margin-top: -25px;
}

.save_round {
    display: flex;
    width: 72px;
    height: 72px;
    background: #e3b873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.15);
    border-radius: 40px;
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.save_text {
    font-size: 18px;
    line-height: 26px;
    margin-left: 25px;
    color: #e3b873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}
